include:
  - project: 'alintaenergy/devsecops/checkmarx'
    file: 'templates/cx-flow.yml'

variables:
  AWS_REGION: ap-southeast-2

default:
  image:
    name: 307973494033.dkr.ecr.ap-southeast-2.amazonaws.com/dev/serverless/maven-build-centos:v25033
    pull_policy: [if-not-present, always]
  before_script:
    - |
      # Job Details
      echo "CI_COMMIT_REF_NAME = $CI_COMMIT_REF_NAME , CI_COMMIT_TAG = $CI_COMMIT_TAG , CI_COMMIT_TITLE = $CI_COMMIT_TITLE"

stages:
  - "build"
  - "deploy:test"
  - "deploy:prod"
  - "execute:test"

build:
  stage: "build"
  tags:
    - fisker
  script:
    - |
      # Install requirements
      pip3 install -r requirements.txt -r runtime-requirements.txt
    - |
      # Lint the cloudformation templates
      chmod u+x cf-lint
      ./cf-lint
    - |
      # Check python test coverage
      coverage run --branch -m pytest --durations=0 tests
      coverage report -m
  variables:
    CF_ROLE: CloudformationReleaseRole
    CI_ENVIRONMENT_NAME: dev-fisker

anstead:deploy:
  stage: "deploy:test"
  trigger:
    include: .gitlab-deploy.yml
    strategy: depend
  variables:
    CI_ENVIRONMENT_NAME: tst-anstead
    CI_PARENT_PIPELINE_ID: $CI_PIPELINE_ID
    KMS_KEY_ALIAS: corecmk
    RUNNER_TAG: anstead
  when: manual
  needs:
    - 'build'

matten:deploy:
  stage: "deploy:prod"
  trigger:
    include: .gitlab-deploy.yml
    strategy: depend
  variables:
    CI_ENVIRONMENT_NAME: prd-matten
    CI_PARENT_PIPELINE_ID: $CI_PIPELINE_ID
    KMS_KEY_ALIAS: corecmk
    RUNNER_TAG: matten
  when: manual
  only:
    - main
  needs:
    - 'build'

anstead:01:restore:
  stage: "execute:test"
  timeout: 24 hours
  when: manual
  tags:
    - anstead
  script:
    - python3 bin/execute-bua-steps.py
  variables:
    state_machine_arn: arn:aws:states:ap-southeast-2:561082505378:stateMachine:tst-anstead-bua
    name: Restore
    steps: Restore

anstead:02:clean:
  stage: "execute:test"
  timeout: 24 hours
  when: manual
  tags:
    - anstead
  script:
    - python3 bin/execute-bua-steps.py
  variables:
    state_machine_arn: arn:aws:states:ap-southeast-2:561082505378:stateMachine:tst-anstead-bua
    name: Clean
    steps: EmptyQueues,CleanWorkflows,CleanInvoiceAttribute,CleanUtilityProfile

anstead:03:warm:
  stage: "execute:test"
  timeout: 24 hours
  when: manual
  tags:
    - anstead
  script:
    - python3 bin/execute-bua-steps.py
  variables:
    state_machine_arn: arn:aws:states:ap-southeast-2:561082505378:stateMachine:tst-anstead-bua
    name: Warm
    steps: ScaleUpWorkflow,WarmStatistics,WarmIndexes,ScaleDown

anstead:04:profiles:
  stage: "execute:test"
  timeout: 24 hours
  when: manual
  tags:
    - anstead
  script:
    - python3 bin/execute-bua-steps.py
  variables:
    state_machine_arn: arn:aws:states:ap-southeast-2:561082505378:stateMachine:tst-anstead-bua
    name: Profiles
    steps: UtilityProfiles,Segments

anstead:05:mscalar:
  stage: "execute:test"
  timeout: 24 hours
  when: manual
  tags:
    - anstead
  script:
    - python3 bin/execute-bua-steps.py
  variables:
    state_machine_arn: arn:aws:states:ap-southeast-2:561082505378:stateMachine:tst-anstead-bua
    name: MScalar
    steps: Microscalar

anstead:06:basic:
  stage: "execute:test"
  timeout: 24 hours
  when: manual
  tags:
    - anstead
  script:
    - python3 bin/execute-bua-steps.py
  variables:
    state_machine_arn: arn:aws:states:ap-southeast-2:561082505378:stateMachine:tst-anstead-bua
    name: Basic
    steps: BasicReads

anstead:07:nem12:
  stage: "execute:test"
  timeout: 24 hours
  when: manual
  tags:
    - anstead
  script:
    - python3 bin/execute-bua-steps.py
  variables:
    state_machine_arn: arn:aws:states:ap-southeast-2:561082505378:stateMachine:tst-anstead-bua
    name: NEM12
    steps: ScaleUpMeterdata,GenerateNEM12

anstead:08:invoices:
  stage: "execute:test"
  timeout: 24 hours
  when: manual
  tags:
    - anstead
  script:
    - python3 bin/execute-bua-steps.py
  variables:
    state_machine_arn: arn:aws:states:ap-southeast-2:561082505378:stateMachine:tst-anstead-bua
    name: Invoices
    steps: RestartMeterdata,InvoiceRuns,ILIExceptions

anstead:09:down:
  stage: "execute:test"
  timeout: 24 hours
  when: manual
  tags:
    - anstead
  script:
    - python3 bin/execute-bua-steps.py
  variables:
    state_machine_arn: arn:aws:states:ap-southeast-2:561082505378:stateMachine:tst-anstead-bua
    name: Down
    steps: ScaleDown

anstead:10:prepare:
  stage: "execute:test"
  timeout: 24 hours
  when: manual
  tags:
    - anstead
  script:
    - python3 bin/execute-bua-steps.py
  variables:
    state_machine_arn: arn:aws:states:ap-southeast-2:561082505378:stateMachine:tst-anstead-bua
    name: Prepare
    steps: Prepare

anstead:11:export:
  stage: "execute:test"
  timeout: 24 hours
  when: manual
  tags:
    - anstead
  script:
    - python3 bin/execute-bua-steps.py
  variables:
    state_machine_arn: arn:aws:states:ap-southeast-2:561082505378:stateMachine:tst-anstead-bua
    name: Export
    steps: Export

anstead:12:final:
  stage: "execute:test"
  timeout: 24 hours
  when: manual
  tags:
    - anstead
  script:
    - python3 bin/execute-bua-steps.py
  variables:
    state_machine_arn: arn:aws:states:ap-southeast-2:561082505378:stateMachine:tst-anstead-bua
    name: Final
    steps: ProfileValidation,DumpErrors,SwitchBastion

anstead:13:destroy:
  stage: "execute:test"
  timeout: 24 hours
  when: manual
  tags:
    - anstead
  script:
    - python3 bin/execute-bua-steps.py
  variables:
    state_machine_arn: arn:aws:states:ap-southeast-2:561082505378:stateMachine:tst-anstead-bua
    name: Destroy
    steps: Destroy

anstead:20:snapshot:
  stage: "execute:test"
  timeout: 24 hours
  when: manual
  tags:
    - anstead
  script:
    - python3 bin/execute-bua-steps.py
  variables:
    state_machine_arn: arn:aws:states:ap-southeast-2:561082505378:stateMachine:tst-anstead-bua
    name: Snapshot
    steps: Snapshot

anstead:30:scaleup:
  stage: "execute:test"
  timeout: 24 hours
  when: manual
  tags:
    - anstead
  script:
    - python3 bin/execute-bua-steps.py
  variables:
    state_machine_arn: arn:aws:states:ap-southeast-2:561082505378:stateMachine:tst-anstead-bua
    name: ScaleUp
    steps: ScaleUpMeterdata

anstead:50:reset:basic:
  stage: "execute:test"
  timeout: 24 hours
  when: manual
  tags:
    - anstead
  script:
    - python3 bin/execute-bua-steps.py
  variables:
    state_machine_arn: arn:aws:states:ap-southeast-2:561082505378:stateMachine:tst-anstead-bua
    name: ResetBasicReads
    steps: ResetBasicReads

anstead:51:reset:nem12:
  stage: "execute:test"
  timeout: 24 hours
  when: manual
  tags:
    - anstead
  script:
    - python3 bin/execute-bua-steps.py
  variables:
    state_machine_arn: arn:aws:states:ap-southeast-2:561082505378:stateMachine:tst-anstead-bua
    name: ResetNEM12
    steps: ResetNEM12

anstead:98:all:
  stage: "execute:test"
  timeout: 24 hours
  when: manual
  tags:
    - anstead
  script:
    - python3 bin/execute-bua-steps.py
  variables:
    state_machine_arn: arn:aws:states:ap-southeast-2:561082505378:stateMachine:tst-anstead-bua
    name: All
    steps: Restore,EmptyQueues,CleanWorkflows,CleanInvoiceAttribute,CleanUtilityProfile,ScaleUpWorkflow,WarmStatistics,WarmIndexes,ScaleDown,UtilityProfiles,Segments,Snapshot,Microscalar,Snapshot,BasicReads,Snapshot,ScaleUpMeterdata,GenerateNEM12,RestartMeterdata,Snapshot,InvoiceRuns,Snapshot,ILIExceptions,ScaleDown,Snapshot,Prepare,Snapshot,Export,ProfileValidation,DumpErrors,SwitchBastion

anstead:99:rerun:
  stage: "execute:test"
  timeout: 24 hours
  when: manual
  tags:
    - anstead
  script:
    - python3 bin/trigger-bua.py
  variables:
    topic_arn: arn:aws:sns:ap-southeast-2:561082505378:tst-anstead-sns-bua-notify-topic
    message: reuse
