include:
  - project: 'alintaenergy/devsecops/checkmarx'
    file: 'templates/cx-flow.yml'

variables:
  AWS_REGION: ap-southeast-2

default:
  image:
    name: 307973494033.dkr.ecr.ap-southeast-2.amazonaws.com/dev/serverless/maven-build-centos:v25033
    pull_policy: [if-not-present, always]
  before_script:
    - |
      # Job Details
      echo "CI_COMMIT_REF_NAME = $CI_COMMIT_REF_NAME , CI_COMMIT_TAG = $CI_COMMIT_TAG , CI_COMMIT_TITLE = $CI_COMMIT_TITLE"

stages:
  - "build"
  - "deploy:test"
  - "deploy:prod"

build:
  stage: "build"
  tags:
    - fisker
  script:
    - |
      # Install requirements
      pip3 install -r requirements.txt -r runtime-requirements.txt
    - |
      # Lint the cloudformation templates
      chmod u+x cf-lint
      ./cf-lint
    - |
      # Check python test coverage
      coverage run --branch -m pytest --durations=0 tests
      coverage report -m
  variables:
    CF_ROLE: CloudformationReleaseRole
    CI_ENVIRONMENT_NAME: dev-fisker

anstead:deploy:
  stage: "deploy:test"
  trigger:
    include: .gitlab-deploy.yml
    strategy: depend
  variables:
    CI_ENVIRONMENT_NAME: tst-anstead
    CI_PARENT_PIPELINE_ID: $CI_PIPELINE_ID
    KMS_KEY_ALIAS: corecmk
    RUNNER_TAG: anstead
  when: manual
  needs:
    - 'build'

matten:deploy:
  stage: "deploy:prod"
  trigger:
    include: .gitlab-deploy.yml
    strategy: depend
  variables:
    CI_ENVIRONMENT_NAME: prd-matten
    CI_PARENT_PIPELINE_ID: $CI_PIPELINE_ID
    KMS_KEY_ALIAS: corecmk
    RUNNER_TAG: matten
  when: manual
  only:
    - main
  needs:
    - 'build'
